:root {
  --typst-text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --typst-text-color: white;
  }
}

.typst-text use[fill="#000000"] {
  fill: var(--typst-text-color);
}

.typst-group use[fill="#000000"] {
  fill: var(--typst-text-color);
}

.typst-group path[fill="#000000"] {
  fill: var(--typst-text-color);
}

.typst-group path[stroke="#000000"] {
  stroke: var(--typst-text-color);
}